<html>
  <head>
    <title>PAGE POTIN</title>
    
  </head>
  <body style="background-color: #e3d6dd; color: #581845; margin: 20px; font-family:  sans-serif" >

    <h1>Voici la page du potin n°<%= params['id'] %></h1><br>

    <p style="text-decoration: none; color: #743e61; font-size: 18px"><strong>Son auteur : </strong> <%= @gossip.author %></p>
    <p style="text-decoration: none; color: #743e61; font-size: 18px"> <strong>Le contenu du potin : </strong> <%= @gossip.content %></p><br><br>

    <a href="/gossips/<%= params['id'] %>/edit/" style="text-decoration: none; color: #007069; font-size: 16px">Éditer le potin</a><br>

    <a href="/" style="text-decoration: none; color: #007069; font-size: 14px">Revenir à la page des potins</a>

  </body>
</html>